[2017-10-07 12:05] matozoid opened #3 "Use raster interrupts for C64"
Saw this video: https://www.youtube.com/watch?v=VVXqgPCUQCM
and thought refreshing the screen somewhere outside the displayable area would stop the flickering.

Thanks for making new 8-bit stuff :-)

[2017-10-09 14:50] Fabrizio-Caruso commented on #3
Hi! Thanks for following my project!
I do not understand the issue. What is flickering for you that should not be flickering?
The green slowdown power-up is supposed to flicker.
The enemies are redefined characters and move in a grid.
Their jerky movement is the expected behavior (in the current implementation at least for the moment).

[2017-10-09 16:48] Fabrizio-Caruso commented on #3
If I try to do something like
	while(VIC.rasterline>40){}
	cputc(image->_imageData);

i.e., wait for a low value of the rasterline before writing onto video memory, I do not see any improvement and the game is significantly slowed-down.

[2017-10-09 20:56] matozoid commented on #3
Okay, with flickering I mean that every time a monster moves it disappears for a splits second. So instead of moving from a to b, it seems to disappear from a and reappear on b.

With a raster interrupt I mean putting your code in an interrupt handler that fires on a specific rasterline. It's what most games do to hide screen updates.

If this can't be done from C then this issue can be closed, I

[2017-10-09 21:24] Fabrizio-Caruso commented on #3
This cannot be done reasonably in C because it would require handling interrupts in C, which is (close to) impossible.
Some cross-compilers provide some tools but discourage to use them (e.g., CC65) to do anything time-critical.
I am not writing a C64 version of the game. If you look at the code, you'll see that all versions share the same code except very few bits about input, sound and graphics

[2017-10-09 21:33] Fabrizio-Caruso commented on #3
So, what you ask is not impossible but extremely hard in C. It would require lots of Assembly and therefore it would not be in the scope of a universal project. (I have used small fragments of Z80 Assembly for sound in Amstrad CPC and graphics in VG-5000 because I had not much choice).
I will close the issue BUT I will try to do my best to improve graphics because that is where my little game is a

[2017-10-09 21:54] #3 closed

[2017-10-09 22:05] matozoid commented on #3
And thank you for considering this :-)

[2017-11-03 20:49] smuehlst opened #4 "Trying to run the game on OSI C1P emulator"
I'm trying to run the game on an Ohio Scientific Challenger 1P emulator. After the loading the game the title screen appears. After hitting the space bar I see "HIGH SCORE: 000000". What should happen next?

[2017-11-04 23:13] Fabrizio-Caruso commented on #4
Ohio Scientific Challenger 1P is not officially supported because I myself have not tested it.
I am also trying to run the game on the Ohi Scientific Challenger but I could not figure out which emulator and how to use it. Could you please send me a link of the version of the emulator used?

[2017-11-05 14:05] smuehlst commented on #4
I'm aware of the following emulators:

* The [WinOSI Emulator](http://osi.marks-lab.com/). Use the newest version [OsiEmu15.zip](http://osi.marks-lab.com/files/OsiEmu15.zip).
* The web-based [C1Pjs emulator](https://www.pcjs.org/docs/c1pjs/).

Note that output of cc65 "osic1p" target cannot be loaded directly, neither into an emulator nor on a real machine. The cc65 executable must first be conver

[2017-11-05 21:29] Fabrizio-Caruso commented on #4
I cannot select OSI C1P / Superboard II (600 BOard).
It complains about the rom not being compatible.
Where do I get the correct rom?

[2017-11-05 22:01] Fabrizio-Caruso commented on #4
Thanks a LOT for your report!

The problem is the kbhit/cgetc implementation for the OSIC1P target:
it does not detect key-presses or wait for the input locking the computer.
Maybe the problem is kbhit consuming the key press it is only supposed to detect and not consume.

If I remove WAIT_PRESS, you get the game "sort of working" in a turned-based version, i.e., no action game because it waits fo

[2017-11-05 22:25] Fabrizio-Caruso commented on #4
I have opened an issue for you
https://github.com/cc65/cc65/issues/511

[2017-11-09 16:49] Fabrizio-Caruso commented on #4
@smuehlst I am closing this issue because the root cause is in the implementation of kbhit and maybe cgetc for the OSIC C!P target, which is not functionally corret.
We can follow this in cc65/cc65#511.

[2017-11-09 16:49] #4 closed

[2018-02-04 08:28] OutBush opened #5 "FULL_cpc.cdt"
Nice game, I was a little disappointed this game crashed, when I loaded it on my Emulated 464 though :(

Perhaps compile program to DSK image and delete CDT before someone tries to load on their real 464 and discover it's 6128 only.

Tried working out what would of cause this kind of crash, it almost happened as soon as the game completed loading, there was nothing obvious when I ran it with 6128

[2018-02-04 09:00] Fabrizio-Caruso commented on #5
Thanks a lot for reporting the issue!
Do you know of any scriptable tool that I can use to put the game into a CDT?
Ideally I need a tool that I can automatically call from my Makefile.

I cannot reproduce the crash.
I have just tested with WinApe 2.0 Beta 2 with CPC464 settings and the game works fine.
Can you reproduce the crash on an emulator? Which one and and which settings do you use?

If yo

[2018-02-04 10:23] OutBush commented on #5
Hmm, do you mean DSK?

Sounds like you're in CPC Plus mode, I tested this and that did work with your game, though the later CPC Plus models (464 and 6128) had BASIC 1.1 in them, so are compatable with the earlier 6128 in that regard.
I'm using WinApe 2.0 Alpha 18, though I'm using the original 464 (BASIC 1.0), so in the General Tab, the Plus Features are disabled and in the Memory Tab the Cartrid

[2018-02-04 12:36] Fabrizio-Caruso commented on #5
Hi!

Sorry! I meant how to create a disk from a raw binary, which is what the compiler can produce.

I can confirm that the game is compatible with Basic 1.0 and 464 settings in WinAPE 2.0 Beta 2.
I have selected CPC464 and I see that I am using NO PLUS features and NO cartridge.
You may be using an obsolete version of the emulator.
Could you please test it again with the latest version of WinAPE

[2018-02-04 12:57] Fabrizio-Caruso commented on #5
I FOUND THE CULPRIT!
The problem is on the PSG routines! For the moment I will release a version with no sound to cover the CPC464.
Does my game wort with the 464Plus?
I will also try to get the PSG routines to work on the CPC464 or use something else.

[2018-02-04 19:11] Fabrizio-Caruso commented on #5
@OutBush, the problem is ONLY reproducible with WinAPE but it does not show up at all on JavaCPC.
We need someone to test it on the real hardware... Could you please help us on this?

It could be a real issue or just WinAPE doing the wrong thing.
Under JavaCPC I use:
Lower ROM: OS464
System: CPC 464
BASIC 1-0

[2018-02-04 20:27] OutBush commented on #5
I wish I could test on a real 464 :( Perhaps someone of the CPCWiki Forum could help?

Sadly again I don't have JavaCPC to be able to see. I also failed to mentioned that I had 128Kb of RAM and AMSDOS in Upper 7 on my 464 in WInape when the problem occurred. Perhaps one of those is the problem, though it seemed to be more of a Incompatability issue when everything started working with the 6128 & B

[2018-02-04 22:01] Fabrizio-Caruso commented on #5
OutBush, if the game works under JavaCPC with the plain 464, I am not sure the issue really exists.

Could you please install JavaCPC and test it with the same settings that caused the crash?

JavaCPC is just a Java application and installation is very simple.

[2018-02-06 08:44] Fabrizio-Caruso commented on #5
I can confirm the problem with Mame/Mess.
The issue comes from the compiler Z88dk and not my own code.
I have reported the issue to Z88dk.
I will flag the game as cpc6128.
I will close this issue in the next days.
I will try alternative compilers (CPCTelera) if possible.
My hope is to have Z88dk implement a CPC target that works with all models.

[2018-02-06 23:42] Fabrizio-Caruso commented on #5
Maybe a different compilation parameter can fix the issue that seems to be related to the stack location.

[2018-02-07 08:17] Fabrizio-Caruso commented on #5
@OutBush, the issue is probably solved now! :-)
Could you please test it with different configurations?

[2018-02-07 21:05] Fabrizio-Caruso commented on #5
Problem solved! Thanks @OutBush for reporting the issue!

[2018-02-07 21:05] #5 closed

[2018-02-07 21:48] cpcitor commented on #5
Happy to know this is solved.

Can you share the URL?

Information below is for general value.

I have a real 464 and a real 6128. I can test. I nearly always use **CDT loading** even on CPC6128 because 3-inch disc drive is near-unusable. Anyway, sending short programs via audio is more handy than fiddling with an old PC equipped with 3.5-inch drives, writing image, moving to CPC with 3.5-inch dri

[2018-02-08 03:53] Fabrizio-Caruso commented on #5
@cpcitor thanks for suggesting your tool! I will give it a try.
I would like to use 160x200 mode for my game.

Which URL do you need?

[2018-02-08 16:59] cpcitor commented on #5
You wrote:

Is it that bug report: https://github.com/z88dk/z88dk/issues/592 ?

If so, then:

(1) it looks like the bug is real and it's strange that JavaCPC does not reproduce the bug. Perhaps JavaCPC use a mixture of ROMs and thus emulates something that is not exactly a 464.

(2) Marking game "cpc 6128 only" feels wrong. In that case, it's a z88dk bug to be fixed.

[2018-02-08 17:13] Fabrizio-Caruso commented on #5
@cpcitor nope, the problem is really fixed now by using a different compilation option that places the stack at the right place for all models.

[2018-02-08 17:57] cpcitor commented on #5
Thanks for clarifying. I understood that your project now uses the option `-pragma-define:REGISTER_SP=-1` which requests z88dk to not break the stack and not break compatibility model. IMHO that option should be default in z88dk. Anyway the issue here with cross-chase is indeed fixed.
Cheers!

[2018-02-17 02:52] OutBush commented on #5
Sorry for my late reply, glad the problem was sorted.

[2018-02-17 21:12] Fabrizio-Caruso commented on #5
@OutBush, thanks for reporting the issue.
Could you please tell how I can put the binary into a disk image through a command line tool?

[2018-02-17 22:19] OutBush commented on #5
From what I was reading, it looks like Z88DK doesn't actually create DSK images, but you can use the -create-app switch to produce a file which includes AMSDOS header, this results in a file with the ".cpc" being created. This is the file with the AMSDOS header. From there it should be easy enough to use Winape to Create a DSK, Format it (Data format) and use Edit Disk to Paste the file to. The ".

[2018-02-17 23:06] Fabrizio-Caruso commented on #5
@OutBush, I asked for a tool to create disk images without human intervention. I cannot do this manually each time I rebuild. I need a command line tool that does this.

[2018-02-18 05:00] OutBush commented on #5
The only way you could have that is if Z88DK did that automatically, but from what I can tell, Z88DK doesn't do that. The alternative is to use CPCFS, which requires more even human intervention than my Winape approach.

[2018-02-18 06:24] Fabrizio-Caruso commented on #5
@OutBush , it seems that CPCFS has a command line and non-interracting mode.
I don't know how to use it.

[2018-02-21 10:15] cpcitor commented on #5
cpc-dev-tool-chain does that. If compiling the project completely, it performs all needed steps automatically, including fetching and compiling tools from the Internet. Actually, you can "make run" and the projects runs in an emulator moments later without any manual steps.

I believe you're wanting to integrate the dsk generation into your current build process. You will find hints about this on

[2018-08-09 17:54] NYYR1KK1 opened #21 "MSX version fonts"
In MSX version the fonts are not copied to VRAM that makes this a bit weird looking :)

[2018-08-09 22:54] Fabrizio-Caruso commented on #21
@NYYR1KK1 I have just run the game and it looks OK to me.
Could you please describe the exact issue? Which exact binary version have you used?
![msx](https://user-images.githubusercontent.com/29057615/43930097-f5118312-9c37-11e8-832b-6185d34238f6.jpg)

[2018-08-09 22:57] Fabrizio-Caruso commented on #21
I copy the fonts into video run in the "redefine" function that you find in:
https://github.com/Fabrizio-Caruso/CROSS-CHASE/blob/master/src/cross_lib/display/init_graphics/z88dk/msx/msx_redefined_chars_init_graphics.c

[2018-08-09 23:58] Fabrizio-Caruso commented on #21
THANKS A LOT @NYYR1KK1 !
The issue was on just 3 user-defined characters, which on this video mode have to be redefined because each character has an intrinsic color: the same character with a different color has to be handle as two separate characters.

The issue seems now fixed to me. I have uploaded the fixed versions:

https://github.com/Fabrizio-Caruso/CROSS-CHASE/releases/download/BombDance/

[2018-08-10 04:58] NYYR1KK1 commented on #21
It still looks I'm missing the custom characters and all of the characters outlooks are ROM defaults... The colors look fine though... The "problem" on this "SCREEN 1"-mode is that each 8-characters group have common background and foreground color. Another option is to use "SCREEN 2" where each line of each character may have own color, but it also means that you have to upload the character sets

[2018-08-10 04:59] NYYR1KK1 commented on #21
(BTW I tested only ROM-version)

[2018-08-10 07:08] Fabrizio-Caruso commented on #21
@NYYR1KK1 indeed only the rom version has this issue... I need to figure this out...
The .cas version is OK.

[2018-08-10 15:39] Fabrizio-Caruso commented on #21
@NYYR1KK1 there was some problem with the Makefile entry that seems fixed now.
Could you please check it out?

https://github.com/Fabrizio-Caruso/CROSS-CHASE/releases/download/BombDance/FULL_msx_32k.rom
https://github.com/Fabrizio-Caruso/CROSS-CHASE/releases/download/BombDance/FULL_msx_32k.cas

[2018-08-11 05:36] NYYR1KK1 commented on #21
Yes, now it seems to work correctly. Thanks!

[2018-08-11 08:09] Fabrizio-Caruso commented on #21
THANKS to you for testing!

[2018-08-11 08:09] #21 closed

[2018-08-13 23:13] mozgwar opened #29 "Tools sources"
Hi,
Can you put a README in tools that says where we can find the source for them?

[2018-08-14 09:10] Fabrizio-Caruso commented on #29
Hi! Yes, it is a good idea. Do you mean the source code or their official page. Maybe I should just put links... instead of copying the binaries.

[2018-08-14 11:44] mozgwar commented on #29
the link to the page will be good enough for me

[2018-08-14 14:59] cpcitor commented on #29
Hi Fabrizio.

I played you game, the Amstrad CPC build.  I expected portability to affect performance given the context, and the result was actually quite good.  The list of target machines is impressive!

This stroke me in an open-source context where source is king and binary is slave.

## Suggestion: going full source

There is another approach that you might want to consider: going full source

[2018-08-14 16:27] Fabrizio-Caruso commented on #29
@cpcitor for the moment I would just provide links and credits to the creators of the tools I need to build the executables for various systems.
Going full source, would also imply providing and building the full source of the compilers.
This would take very long.
The tools are not really part of my project and my project would survive without them.
I only depend on the compilers and their devkits

[2018-08-14 16:53] Fabrizio-Caruso commented on #29
@cpcitor Thanks for your words on the game speed.
First of all the merit goes first to the authors of SCCZ80 and CPCRSLIB, which is quite fast. I have also made a huge effort at optimizing both the game and CrossLib (my own library that provides the abstraction layer).

The game is slowed down because it would be too fast, otherwise.
It is compiled with SCCZ80 for convenience but it could also be

[2018-08-28 19:07] nihirash opened #80 "Linux developer issues."
There no tools for linux development(maybe sources of tools helps us). If there are sources - I think better will be add links to it in readme.

[code]

Fails with `a.exe` not found - there better add output file name option. Or poor-mans variang - just run `a.out` on unixes(may be i'll try to fix makefiles to build ncurses target on *nixes).

May be its time to sepparate library and game code bas

[2018-08-28 21:45] Fabrizio-Caruso commented on #80
Yes, there must be a way to build most targets under Unix.
Most of my Makefile is Unix-friendly and many targets should work.
If you come up with something that fixes Unix compilation without breaking anything on Cygwin, please let me know!

The library and game code are separate!
src/chase <- game code
src/cross_lib <- library code

you could put a completly different game inside src/chase.

[2018-08-29 10:06] nihirash commented on #80
I'll try to fix it and make PR

[2018-08-29 10:15] Fabrizio-Caruso commented on #80
@nihirash thanks!
One thing to do would be to use Linux versions of some of the tools required for some targets or even better, use the source code of the tools and recompile them for Windows/Linux.

[2018-09-05 08:53] Fabrizio-Caruso commented on #80
@nihirash I have recently added some targets that I can only compile under Linux due to the limitations of the ACK compiler.
I can now compile my game for the PC 8086, CP/M 8080, Linux PPC/386/68020 and even the PDP 11!

[2018-09-06 08:06] Fabrizio-Caruso commented on #80
@nihirash I have just made a little improvement in the Makefile that allows the build of the ncurses version in both Cygwin and Unix.

[2018-09-07 12:27] Fabrizio-Caruso commented on #80
@nihirash the ncurses problem has been solved. I am going to close this issue but I know that the Makefile is not perfect with a few Windows-only (e.g., cpc)  and Unix-only (all ACK targets) cases.
Please let me know if you are working on fixing the remainig cases.

[2018-09-07 12:27] #80 closed

[2018-09-23 10:08] nippur72 opened #137 ""LEVEL n" and "PRESS A KEY" color changes"
the `LEVEL n` and `PRESS A KEY` text color sometimes is red, some other times is white; I guess depending on the last thing print before.

[2018-09-24 14:06] Fabrizio-Caruso commented on #137
Yes, @nippur72, I am aware of this bug.

[2018-10-31 14:33] ctsmith2 opened #175 "LIGHT_ATARI_LYNX.lnx Not Working"
Tried this on a real Atari Lynx, and emulator, but does not work.

[2018-10-31 20:56] Fabrizio-Caruso commented on #175
@ctsmith2 thanks for reporting the issue! I will verify this and let you know.

[2018-10-31 21:14] Fabrizio-Caruso commented on #175
@ctsmith2 it does work but it is experimental and it lacks any text.
You need to press fire multiple times and wait a couple of seconds. I am compiling a version with more rapid wait time.
I still need to add graphics to it. It currently uses simple characters for the game c
Please consider this a proof of concept and an initial implementation.

[LIGHT_ATARI_LYNX.zip](https://github.com/Fabrizio-C

[2018-10-31 21:14] #175 closed

[2018-12-05 08:10] Fabrizio-Caruso commented on #29
@mozgwar I have added a README.txt in the tools directory:
https://github.com/Fabrizio-Caruso/CROSS-CHASE/blob/master/tools/README.txt
This files provides links to the original pages of the used tools.
A few cases are still missing.
I will soon remove unused tools from my repo.

I hope this is good for you.

[2020-12-13 23:35] fidergo-stephane-gourichon opened #268 "Wish: how about some CP/M executables ?"
Your code can be compiled on an impressive number of old platforms.

CP/M was an early system that allowed the same binary executable to work on a number of machines sporting a 8080 or above (especially Z80) CPU.

It would be "fun" if you included CP/M in your targets.

[2020-12-17 13:56] Fabrizio-Caruso commented on #268
You have not looked at the list of targets. I have several CP/M targets in all possible flavors.
Take a look at:
https://github.com/Fabrizio-Caruso/CROSS-LIB/blob/master/docs/STATUS.md

I support generic CP/M with all terminals types and I also support specific CP/M targets with software sprites with several brands and disk/binary formats.

[2020-12-17 13:56] #268 closed

[2020-12-17 14:04] Fabrizio-Caruso commented on #268
@fidergo-stephane-gourichon if you want a specific binary for a specific target and you can't find it, let me know.

[2020-12-17 16:06] Fabrizio-Caruso commented on #268
@fidergo-stephane-gourichon the way I support both graphics and non-graphics target is through Cross-lib tiles, which are a sort of virtual tiles. They are mapped to different things depending on the target, sub-target or options.
So my games come with tiles mapped to real graphics objects (inside the /games/xxx/tiles or mapped to specific ASCII characters.
For targets like generic CP/M, Commodore

[2020-12-18 11:04] Fabrizio-Caruso commented on #268
@fidergo-stephane-gourichon Some dozens CP/M executales are in the release section )https://github.com/Fabrizio-Caruso/CROSS-LIB/releases). More can be built.

[2020-12-18 22:43] fidergo-stephane-gourichon commented on #268
Thanks for your reply and explanations. Impressive work.

[2021-03-23 09:12] dandoore opened #269 "Sam Coupé version: Z88DK significant update."
There has been a large amount of work in Z88DK for SAM in the last weeks: https://github.com/z88dk/z88dk/wiki/Platform--Sam-Coupe.md with support for graphics, high colour modes and eTracker music - can CROSS-LIB be updated for the new capabilites?

[2021-03-24 08:58] Fabrizio-Caruso commented on #269
Hi! Yes, definitely and I will update it. I always try to catch up with the latest updates on the several cross compilers I depend on.

[2021-03-24 11:13] dandoore commented on #269
Cool, be nice to ditch the ansi graphics :)

[2021-04-17 13:12] nippur72 opened #270 "Laser 500 cursor key input"
In Laser 500, it's more natural to use cursor arrow keys instead of `IJKL`.

Unfortunately Z88DK disables them by default (I will address a bugfix for that) but you can re-enable them by having the following compiler switch added to your makefile:
[code]
After that, the keyboard input routine will return:
[code]
that you can use in place of IJKL

[2021-04-17 13:16] nippur72 opened #271 "Laser 500 use bright colors for sprites on black background"
Laser 500 has 16 RGB colors: 8 "dark" and 8 "bright" (luminosity bit 0/1).

I suggest you avoid dark coloured sprites when you have a black background.

This is how the Laser 500 palette is defined:
[code]

[2021-05-14 18:29] Fabrizio-Caruso commented on #271
Thanks a lot for reporting this problem. This has been fixed a couple of weeks ago on a bunch of targets including the Laser 500.

[2021-05-14 18:29] #271 closed

[2021-05-14 18:29] Fabrizio-Caruso commented on #270
This is going to be fixed but I would like to have it in Z88DK first. I have reported that joystick emulation through cursors is not working...

[2021-05-14 18:30] Fabrizio-Caruso commented on #269
I have not forgotten this one... I will do it. I just need to sort out a few other things before I move on improving the target-specific support.

[2021-05-15 06:24] dandoore commented on #269
Awesome, thanks for the update :)

[2021-05-15 19:24] Fabrizio-Caruso opened #272 "[samcoupe] Colors are totally wrong"
Some colors are totally wrong.
In particular:
- red and green are inverted and
- cyan is shown as purple/violet.

The screenshot below shows the problem:
![image](https://user-images.githubusercontent.com/29057615/118375713-be3f4600-b5c3-11eb-8d08-ee802016bcc1.png)

The problem will be fixed in Z88DK.

[2021-05-15 23:07] Fabrizio-Caruso commented on #272
Fixed by using mode 2

[2021-05-15 23:07] #272 closed

[2021-05-15 23:11] Fabrizio-Caruso commented on #269
I have implemented graphics and sounds for the sam coupe on all 5 games:

Cross Horde: https://github.com/Fabrizio-Caruso/CROSS-LIB/releases/download/XHorde1.0/Xhorde_samcoupe.dsk
Cross Snake: https://github.com/Fabrizio-Caruso/CROSS-LIB/releases/download/XSnake2.0/Xsnake_samcoupe.dsk
Cross Bomber: https://github.com/Fabrizio-Caruso/CROSS-LIB/releases/download/XBomber/Xbomber_samcoupe.dsk
Cross Sh

[2021-05-15 23:11] #269 closed

[2021-08-27 05:41] eadmaster opened #274 "add some drawing primitives like lines, rects and circles"
These could be useful as alternative to titles and to render some effects:
e.g.:
[code]

[2021-08-27 11:28] #274 closed, assigned to nobody

[2021-08-28 02:36] eadmaster commented on #274
no need, i think i've understood your point...

Btw i've found this library  actually providing some form of abstractions of these drawing primitives:
https://github.com/spotlessmind1975/midres

Unfortunately it does not support any console.

[2021-08-28 10:13] Fabrizio-Caruso commented on #274
@eadmaster midres stands for MIDdle RESolution. So it is also tile-based and so you still get 2x2 or slightly higher low or mid resolution. Midres is more performance oriented than Cross Lib, whereas Cross Lib aims at covering *all* targets including very exotic ones and targets with exotic CPUs such as the RCA 1802.

For pixel drawing primitives you should look at TGI (for 6502-based) targets and

[2021-08-28 11:12] eadmaster commented on #274
aren't these the primitives i was suggesting?
https://github.com/spotlessmind1975/midres/blob/master/src/midres.h#L486

Thank you for pointing me to TGI btw, i will take a look at it!

[2021-08-28 16:59] Fabrizio-Caruso commented on #274
@eadmaster as fas as I know, midres is a tile-based library for some Z80 and MOS6502 targets.
I am not the author. The author (another Italian by the way) can answer your questions.

[2022-02-13 10:25] feilipu opened #275 "xl - build issue under ubuntu 20.04.3"
I've been trying to build CROSSCHASE, but I'm finding that in my set up the compilation doesn't complete.

1. just clone `https://github.com/Fabrizio-Caruso/CROSS-LIB`
2. enter `src` directory
3. run `xl chase spectrum_test_sdcc` to compile the sdcc version
4. run `xl chase spectrum_test_sccz80` to compile the sccz80 version
5. run in an emulator (e.g., EightOne), press a key multiple times to sta

[2022-02-13 12:55] Fabrizio-Caruso commented on #275
Thanks a lot for providing the details.
The problem is in the asset generation. My bad.
`xl` uses a makefile target which:
1. generates assets for a specific game (same for all targets with the same tile geometry)
2. builds the binary/image
3. cleans things up

The problem is that I forgot to include step 1 for these target targets.
It is now fixed.
Please do a `git pull` to see if you can build t

[2022-02-13 13:29] feilipu commented on #275
Great.
The fixes work.
Tried all the builds.

I get errors for `snake spectrum`, but that is not related to this issue,
[code]

[2022-02-13 13:29] #275 closed

[2022-02-13 13:41] Fabrizio-Caruso commented on #275
@feilipu thanks for helping me find an issue :-)
Thanks again for reporting the issue with Cross Snake. I found the problem and the trivial fix, i.e., `dos2unix games/snake/main.c`.

By the way, Cross-Lib can be used to build the very same games on 200 targets over several different dev-kits, not just Z88DK, but also CC65, CMOC (6809), LCC1802 (RCA 1802), etc... and even native builts (target `ncu

[2022-02-25 23:36] 6809-user opened #276 "make: *** No rule to make target 'examples/color/generated_assets/cmoc_udc_25_tiles_and_fonts.s', needed by 'coco'. Stop."
some target files do not get built.
If i try to xl build all coco, getting a lot of missing targets for this system, compared to c64 system.
I tried xl build all all and get better resaults.
coco did not have many programs.
Is this normal, or did i miss something.
I thought all targets would be built.

[2022-02-26 19:28] Fabrizio-Caruso commented on #276
@6809-user Thanks for reporting the issue. There may be a bug in my scripts. I am going to check it and fix it.
By the way, `xl build all coco` is not correct.
The correct command is:
```xl build <name of the game> <target name or all>```
or just the same without `build`:
```xl <name of the game> <target name or all>```
Current games provided with Cross-Lib are: `chase`, `shoot`, `bomber`, `snake`

[2022-02-26 19:36] Fabrizio-Caruso commented on #276
@6809-user could you please pull the latest version of Cross-Lib and try:
```xl games coco``` ?

[2022-02-26 20:12] 6809-user commented on #276
Ok, will do,
just cloned new cross-lib git.
I am running debian ( bullseye )
Only found 2 games in build folder: Xbomber and Xshoot.

The last 5 lines of output from "xl games coco"
rm -rf ../build/Xshoot_coco_no_gfx.dsk
cp ../build/Xshoot_coco_no_gfx.bin XCHASE.BIN
../tools/cmoc/coco/file2dsk XCHASE.BIN
make: ../tools/cmoc/coco/file2dsk: No such file or directory
make: *** [games/shoot/Makefile.s

[2022-02-26 20:59] Fabrizio-Caruso commented on #276
@6809-user Indeed for Windows I use those tools. For Linux/FreeBSD I only the binaries. I will include the Linux versions of the tools in the future but the raw binaries should build even without those tools.
You should get all the 5 games, though.
I am going to fix the issues.
Please keep reporting bugs. I am more then willing to fix them.

[2022-02-26 22:34] Fabrizio-Caruso commented on #276
@6809-user I have just fix the coco build for the 3 failing games (chase, snake, horde).
So far, I have tested them under Cygwin/Windows. I still need to test them under Linux/FreeBSD.
Please pull (git pull) the latest version.
Thanks again for reporting problems!

[2022-02-27 00:04] 6809-user commented on #276
The new pull works fine, the other 3 games got built.
probably a non-issue but,
I noticed that running between x64 (vice) and xroar that running "horde" the sound is very high pitched in vice than xroar.
(mostly getting clicks when running xhorde)
Was the sound supposed to be consistent between the builds, or is that just my setup?
Currently messing around in sound/sid settings in x64.

[2022-02-27 00:15] Fabrizio-Caruso commented on #276
@6809-user Thanks to you I have spotted and fixed some bugs! Please keep on reporting issues.

I also accept code suggestions and suggestions for improvements.

The sound is not consistent (yet) and is *very* limited (just some effects).
The problem here is (my) limited time because I have hundreds of different targets. So I only implemented a few effects that should sound vaguely similar but are

[2022-02-28 08:08] Fabrizio-Caruso commented on #276
@6809-user I have been able to run build the 5 coco games and 12 coco examples on both Windows and Ubuntu. I am closing this issue.

Thanks a lot.

Please keep on reporting bugs and suggestions.

[2022-02-28 08:08] #276 closed

[2022-02-28 23:39] Fabrizio-Caruso commented on #276
@6809-user By the way, may I ask you how you got to know about Cross-Lib ?

[2022-03-01 03:45] 6809-user commented on #276
By way of searching the web and found your git repository.

[2022-03-03 02:55] ghost opened #277 "[new feature] chase coco has no color output"
Tried to fix this myself LoL.
On build: xl chase coco
-D_XL_NO_COLOR in build output.
So i thought i was in the right file and commented out the entry in games/chase/makefiles.chase/Makefile.cmoc_targets
next build did not have the entry,  but still no color was present in game.
Things are a bit hard to follow of where exactly the config file for the target is.

Going to give newlib-6809 a look, s

[2022-03-03 07:20] Fabrizio-Caruso commented on #277
For the CoCo I have not implemented any color support. I plan to implement support for 4 colors and 16 colors (CoCo3) but at the moment it is just monochromatic high resolution.

The project <project> is in the <project> directory inside `games` or `examples`, where you find `Makefile.<project>`. Chase has all possible targets so, I had to split the Makefile into many files which are included by `

[2022-03-03 08:45] Fabrizio-Caruso commented on #277
By the way, any help on the CoCo and Dragon and in particular on the CoCo 3 is welcome. I can figure out easily how to implement 4 color graphics on CoCo and Dragon.

[2022-03-03 11:43] 6809-user opened #278 "ld65: Warning: cross_lib/cfg//cc65/vic20-8k_GFX.cfg(17): Segment 'CODE' overflows memory area 'RAMEXP' by 3 bytes"
vic20 target not building.
last 4 lines of ./xl chase vic20:
-o ../build/Xchase_vic20_exp_8k.prg
ld65: Warning: cross_lib/cfg//cc65/vic20-8k_GFX.cfg(17): Segment 'CODE' overflows memory area 'RAMEXP' by 3 bytes
ld65: Error: Cannot generate most of the files due to memory area overflow
make: *** [games/chase/makefiles.chase/Makefile.cc65_targets:1091: vic20_exp_8k] Error 1

[2022-03-03 17:54] Fabrizio-Caruso commented on #278
@6809-user Thanks! This is probably not a bug. Are you using the very latest CC65 version? or the one provided in Ubuntu? I can try to save 3 bytes somehow...
I can build Cross Chase for the Vic 20 (exp 8k is the default for Cross Chase).

[2022-03-03 17:55] Fabrizio-Caruso commented on #278
Meanwhile you can build the other Vic 20 versions with:
[code]

[2022-03-03 17:58] Fabrizio-Caruso commented on #277
@6809-user by the way, I was considering supporting the French Minitel (by the way are you French?), which uses the Intel 8051 architecture. A Minitel can be hacked and reprogrammed by changing its firmware in its ROMs.

[2022-03-03 19:42] Fabrizio-Caruso commented on #278
I can also make vic20_exp_16k the default version for vic20. This would make it build even with less optimized older version of CC65.

Could you please confirm what I suspect? i.e., that you are using whatever Ubuntu has in its repository and not the latest version of CC65 (e.g., for example by building it from source).

[2022-03-03 19:49] Fabrizio-Caruso commented on #278
I have just made the vic20_exp_16k the default for vic20. This should work also with an older less optimized CC65.
I am closing this issue but feel free to reply here.

[2022-03-03 19:49] #278 closed

[2022-03-04 08:34] 6809-user commented on #278
Did not know some of the machines had submodels.
I tried to update cc65 from git, but got an error from checkinstall saying: Makefile:108: *** variable "PREFIX" must be set.  Stop.
make: *** [Makefile:6: install] Error 2

So used sudo PREFIX=/usr/local checkinstall
It built and installed the package but got a whole bunch of errors in:
 ========================= Installation results ===============

[2022-03-04 09:21] Fabrizio-Caruso commented on #278
I support many sub-targets for many systems including exotic configs, e.g., C128 Z80 CPU in mode 128 40 and 80 columns.

You need to follow the installation guide for CC65. I have managed to build it under Lubuntu not too long ago. I don't remember the details. If it is a bug, I would advice that you open an issue in CC65 GitHub page. I saw there has been an issue on some 64 bit configs but I don'

[2022-03-09 20:08] christopheKohler opened #279 "MO5/TO7 makefile error "cmoc_udc_25_tiles""
Replacing by "cmoc_udc_tiles" manually in generated make file solved the problem.

[2022-03-09 20:11] christopheKohler opened #280 "MO5/TO7 f2k5.exe is not running on Cygwin"
The current compiled version require a dll that is not present in latest cygwin. ( cyggcc_s-1.dll )
Getting source code of the tool and recompiling it solved the issue.

[2022-03-09 20:13] christopheKohler opened #281 "Cygwin Perl last version have no "perl.exe""
Package 5.32 have no "perl.exe", I had to take the previous one (5.30) to run xl script.

[2022-03-09 20:24] Fabrizio-Caruso commented on #281
The only thing I will do about this bug in Cygwin, is that I will document that such an issue may occur.
I cannot fix it on my code.

[2022-03-09 20:24] #281 closed

[2022-03-09 20:25] Fabrizio-Caruso commented on #280
Thanks for reporting this issue. Indeed I should do the same in an automatic way.
This is going to be a feature request.

[2022-03-10 23:21] christopheKohler commented on #280
Got same problem with tool gamate-fixcart.exe. It was crashing on my PC. I had to recompile it (gcc gamate-fixcart.c)

[2022-03-10 23:28] christopheKohler opened #282 ""./xl build chase zx81" errors"
I also tried with 1 thread, same result.

`$ ./xl build chase z88dk_targets 1
Cross-Lib `xl` helper script
Platform: cygwin
GNU MAKE command: make

Project name       : chase
Project type       : game
Number of threads  : 1
Extra optimization :
Compiler's options :
run command : make z88dk_targets ZSDCC_MAKEFILE_THREADS_OPTS='-j 1' ZSDCC_MAKEFILE_COMPILATION_OPTS= -f games/chase/Makefile.chase

zc

[2022-03-10 23:41] christopheKohler commented on #282
Seem machine ZX81 is causing this problem.

[2022-03-11 08:07] Fabrizio-Caruso commented on #282
@christopheKohler Which Z88DK version are you using? Did you install it from a snapshot or did you recompile it from source? If so, did you enable SDCC?

[2022-03-11 08:08] Fabrizio-Caruso commented on #280
@christopheKohler Thanks!
I will implement a new `xl` command to build all the tools that can be built from source.

[2022-03-11 22:23] christopheKohler commented on #282
ok found the problem. I deleted the directory
c:\z88dk\libsrc\_DEVELOPMENT\
And this is required.

[2022-03-11 22:24] christopheKohler commented on #282
Updating to the latest nightly build, I got that error :

Error: library file 'c:/z88dk/lib/clibs/ndos.lib' version 16, expected version 14
Error: library file 'c:/z88dk/lib/clibs/cpc_clib.lib' version 16, expected version 14
Error: library file 'c:/z88dk/lib/clibs/z80_crt0.lib' version 16, expected version 14

[2022-03-11 22:24] christopheKohler commented on #282
Back on officiel release (z88dk-win32-2.1.zip) , got now that error :

Error at file 'games/chase/end_screen.c' line 766: syntax error
Error at file 'games/chase/end_screen.c' line 782: syntax error
Error at file 'games/chase/end_screen.c' line 784: syntax error
Error at file 'games/chase/end_screen.c' line 785: syntax error
Error at file 'games/chase/end_screen.c' line 791: syntax error
Error at

[2022-03-11 22:31] christopheKohler commented on #282
Note that horde and bomber are compiling fine for zx81. The 3 others games have errors (not the same). So guess this is only code update to do.

[2022-03-12 00:12] Fabrizio-Caruso commented on #282
If you delete `c:\z88dk\libsrc_DEVELOPMENT`, you break newlib... which I am probably not using.

You need:
http://nightly.z88dk.org/z88dk-win32-20220311-c8d2246b6-19435.zip

and follow these instructions:
https://github.com/z88dk/z88dk/wiki/installation
(i.e., just set a couple of environment variable in Windows, not in Cygwin)

Have you done this?

I do not have this problem.

[2022-03-12 00:12] Fabrizio-Caruso commented on #279
I have re-fixed this issue. Could you please recheck it when you have some time?

[2022-03-15 22:29] Fabrizio-Caruso commented on #280
I have implemented `xl tools` (or equivalently `xl build tools`) to build these tools.
I will add more tools in the future.
This should fix this issue.
Could you please let me know if it works for you?

[2022-03-15 22:30] Fabrizio-Caruso commented on #279
This has been re-fixed once again.
Please let me know if this issue re-appear.s
Sorry for the inconvenience.

[2022-03-15 22:30] #279 closed

[2022-03-15 22:31] Fabrizio-Caruso commented on #282
@christopheKohler could you plese tell me if you are still getting this problem?
I am not able to reproduce it.

[2022-03-16 09:32] #137 closed

[2022-03-16 09:33] Fabrizio-Caruso commented on #137
Fixed after a very long time.

[2022-03-17 21:27] christopheKohler commented on #282
I've done all settings. (using same nightly as mentionned)

chase have this error : ( ./xl build chase zx81 )

games/chase/end_screen.c:841: error: syntax error
  ^---- SECTION DABS (ABS)
games/chase/end_screen.c:857: error: syntax error
  ^---- _dance::
games/chase/end_screen.c:859: error: syntax error
  ^---- ld l, 4 (ix)
games/chase/end_screen.c:862: error: syntax error
  ^---- ld h, 5 (ix)
gam

[2022-03-17 22:02] christopheKohler commented on #282
Disabling sdcc and chase can compile.

[2022-03-17 23:06] Fabrizio-Caruso commented on #282
As we have verified together this is a problem with your setup:
Cygwin 64-bit with Z88DK 32-bit snapshot, which has broken ZSDCC

This bug is in Z88DK (or it is just not supported).
I have opened a ticket for this:
https://github.com/z88dk/z88dk/issues/1992

[2022-03-17 23:06] #282 closed

[2022-03-18 17:25] Fabrizio-Caruso commented on #280
Other buildable tools may be:
- exomixer (currently only used by c64)
- c1541 (currently only used by c128 with Z80)
- srec_cat (used by osic1p)
- file2dsk (coco/dragon)
- sapfs (mo5 and to7)
- nocart (cpc)
- ubbinrtap (microbee)
- makewzd (oz)
- dosgen (abc80/800)
- doscopy (abc80/800)
- bin2bac2 (abc80/800)
- bin2abc (abc80)
- m20 (Olivetti M20)

[2022-03-18 17:29] Fabrizio-Caruso commented on #280
I am going to track this as a feature request.

[2022-03-18 17:29] #280 closed

[2022-03-18 17:32] Fabrizio-Caruso opened #283 "[new feature] Build tools automatically from C source for both Cygwin/Windows and Unix flavors (Linux, FreeBSD)"
Automatically build tools from C source (whenever possible) for both Cygwin/Windows and Unix (Linux, FreeBSD).
This feature request also improves/fixes #280:

A tentative list of buildable tools could be:
- [x] bbcim (BBC)
- [x] elf2ea5 (TI99/4a)
- [x] ea5split (TI99/4a)
- [x] f2k5 (Mo5)
- [x] file2dsk (CoCo)
- [x] gamate-fixcart (Gamate)
- [x] m20 (Olivetti M20)
- [x] makewzd (OZ)
- [x] nocart (C

[2022-08-23 20:56] ikrananka opened #284 "Xsnake_coleco.rom Not Working"
Just tried to run Xsnake_coleco.rom (13 May 2021) and all I get is a black screen.

[2022-08-26 11:27] Fabrizio-Caruso commented on #284
Thanks for reporting the issue. So you used the old precompiled ROM. How did you test it? Which emulator version? Did the other games work?

[2022-08-26 13:29] ikrananka commented on #284
Yes, it was the old precompiled ROM.  I tested it using the latest versions of CoolCV (v0.6.9) and ColEm (v5.5).  The other two games, Cross Chase and Cross Horde both work.

[2022-08-26 13:33] Fabrizio-Caruso commented on #284
Thanks. I will try the 5 games with the latest versions of Cross-Lib and Z88DK and see if they work and what might be wrong.
Cross Shoot and Cross Bomber can also be built for the Coleco and Coleco Adam.

[2022-08-26 13:44] ikrananka commented on #284
Excellent - I'll look forward to trying them out again when they're available.

[2022-08-26 20:02] Fabrizio-Caruso commented on #284
I have a hunch. Maybe the Coleco does not have enough RAM. I can do something about it...

[2022-08-26 20:20] Fabrizio-Caruso commented on #284
@ikrananka I will also tune the speed of the other games. X Horde seems to slow.

[2022-08-26 20:23] ikrananka commented on #284
Great, hoping this helps improve the cross compiler => Coleco 👍

[2022-08-26 21:01] Fabrizio-Caruso commented on #284
I have created a new release only for the Coleco versions of 4 out of 5 games:
https://github.com/Fabrizio-Caruso/CROSS-LIB/releases/tag/coleco

Some of the games have just been slightly tuned for the Coleco.
Sound is still missing and I need to figure it out.

The issue with XSnake is a hardware limitation of the Coleco console, which is reached by the XSnake code because it uses too much RAM to